<template>
  <f7-page>
    <f7-navbar class="bgnav" sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Delivery Tasks
      </f7-nav-title>
      <!-- <f7-nav-right>
    <f7-link>
    <i class="fa fa-map-o"></i>
    </f7-link>
  </f7-nav-right> -->
    </f7-navbar>
    <f7-block-title>{{ title }}</f7-block-title>
    <f7-block inner>
    <!-- <f7-list>
  <f7-list-item swipeout title="Pending Delivery 1" @swipeout:deleted="onSwipeoutDeleted">
    <f7-swipeout-actions>
      <f7-swipeout-button close color="gray">Accept</f7-swipeout-button>
      <f7-swipeout-button delete>Reject</f7-swipeout-button>
    </f7-swipeout-actions>
  </f7-list-item>
  <f7-list-item swipeout title="Pending Delivery 2" @swipeout:deleted="onSwipeoutDeleted">
    <f7-swipeout-actions>
      <f7-swipeout-button close color="gray">Accept</f7-swipeout-button>
      <f7-swipeout-button delete>Reject</f7-swipeout-button>
    </f7-swipeout-actions>
  </f7-list-item>
</f7-list> -->
<f7-card>
<f7-card-header>
  Dnyaneshwar Maruti Pawar
    <f7-link><img src="/static/img/icons/call.svg"></f7-link>
   <f7-link href="/deliverytasks/map/"><img src="/static/img/icons/map.svg"></f7-link>
</f7-card-header>
  <f7-card-content>
      <f7-link href="/deliverytasks/deliver/">
      <f7-block style=" color:gray;margin-bottom:3px;margin-top:3px">
   <p>Ord No : 2018061177</p>
   <p>Address : C-114, RIT Boys Hostel, Rajaramnagar, Islampur</p>
    <f7-row no-gap>
  <f7-col width="25">Total : 3</f7-col>
  <f7-col width="25">Picked : 2</f7-col>
  <f7-col width="40">Can't Pick : 1</f7-col>
</f7-row>
      </f7-block>
      </f7-link>
  </f7-card-content>
</f7-card>

    </f7-block>
  </f7-page>
</template>
<script>
export default {
  name: "Delivery Tasks",
  data() {
    return {
      title: "Pending Tasks"
    };
  }
};
</script>
