<template>
  <f7-page name="deliver">
    <f7-navbar class="bgnav" back-link="Back" sliding>
      <f7-nav-title>
        Deliver
      </f7-nav-title>
    </f7-navbar>
    <!-- Scrollable page content-->
    <f7-block>
    <f7-swiper pagination>
      <f7-swiper-slide><f7-card><f7-card-header style="background-color:#9e9e9e;color:white">Step 1 / 3 : Select Recepient</f7-card-header>
   <f7-list style="margin-bottom:10px;height:100%">
  <f7-list-item radio value="self" title="Dnyaneshwar(self)" name="demo-radio-2" checked></f7-list-item>
  <f7-list-item radio value="spouse" title="Spouse/Housemate" name="demo-radio-2"></f7-list-item>
  <f7-list-item radio value="doorman" title="Doorman" name="demo-radio-2"></f7-list-item>
    <f7-list-item radio value="left-safe" title="Left package in safe location" name="demo-radio-2"></f7-list-item>
      <f7-list-item><f7-icon color="gray" f7="person"></f7-icon><f7-button style="width:100%;color:black;text-align:left;padding-left:13%;text-transform:capitalize;font-size:17px" popover-open =".mypop1">Someone else</f7-button></f7-list-item>
  <f7-list-item><f7-icon color="gray" f7="close_round_fill"></f7-icon><f7-button style="width:100%;color:black;text-align:left;padding-left:13%;text-transform:capitalize;font-size:17px" popover-open =".mypop2">Unable to Deliver</f7-button></f7-list-item>
</f7-list>
  </f7-card> 
  </f7-swiper-slide>
  <f7-swiper-slide><f7-card><f7-card-header style="background-color:#9e9e9e;color:white">Step 2 / 3 : Select Products</f7-card-header>
  <f7-list>
    <f7-list-item checkbox>
         <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%"></f7-col>
  <f7-col width="75"><p>Men Blue Formal Shirt</p>
  <p><span>Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  </f7-col>
</f7-row>
   </f7-list-item>
    <f7-list-item checkbox>
         <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%"></f7-col>
  <f7-col width="75"><p>Men Blue Formal Shirt</p>
  <p><span>Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  </f7-col>
</f7-row>
    </f7-list-item>
    <f7-list-item checkbox>
         <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%"></f7-col>
  <f7-col width="75"><p>Men Blue Formal Shirt</p>
  <p><span>Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  </f7-col>
</f7-row>
    </f7-list-item>
  </f7-list>
  </f7-card></f7-swiper-slide>

  <f7-swiper-slide><f7-card>
    <f7-card-header style="background-color:#9e9e9e;color:white">Step 3 / 3 : Collect Cash</f7-card-header>
    <f7-card-content style="text-align:center">
      <h3 style="color:#8e8e93">TOTAL AMOUNT</h3>
      <h1 style="color:#2196f3;font-size:36px">Rs.1500</h1>
    <h3> Details :</h3>
    <f7-list>
      <f7-list-item>Order Fare <span style="margin-right:0px">Rs.1500</span></f7-list-item>
      <f7-list-item>Delivery Charge <span style="margin-right:0px">Rs.0</span></f7-list-item>
      <f7-list-item>FS Discount <span style="margin-right:0px">Rs.0</span></f7-list-item>
      <f7-list-item>Total <span style="margin-right:0px">Rs.1500</span></f7-list-item>
    </f7-list>
    </f7-card-content>
<f7-card-footer style="background-color:#9e9e9e">   
   <f7-button fill color="gray" style="width:100%;font-weight: bold;">Finish Delivery</f7-button>
</f7-card-footer>
  </f7-card></f7-swiper-slide>
  
</f7-swiper>
<f7-popover class="mypop1">
   <f7-list style="margin-bottom:10px;height:100%">
  <f7-list-item><f7-label>Receiver Name</f7-label>
    <f7-input type="text" placeholder="Receiver name here" clear-button></f7-input></f7-list-item>
  <f7-list-item><f7-label>Relation with Customer</f7-label>
    <f7-input type="text" placeholder="Receiver's relation with Customer" clear-button></f7-input></f7-list-item>
  <f7-list-item><f7-button popover-close fill color="gray" style="width:100%">Submit</f7-button></f7-list-item>
</f7-list>
</f7-popover>
<f7-popover class="mypop2">
   <f7-list style="margin-bottom:10px;height:100%">
  <f7-list-item><f7-label>Reason</f7-label>
    <f7-input type="text" placeholder="Reason here" clear-button></f7-input></f7-list-item>
  <f7-list-item><f7-button popover-close fill color="gray" style="width:100%">Submit</f7-button></f7-list-item>
</f7-list>
</f7-popover>
</f7-block>
     </f7-page>
</template>

<script>
export default {
  name: "Deliver",
  data() {
    return {
      title: "Select Recepient"
    };
  }
};
</script>
