<template>
  <f7-page name="issue" theme="chartreuse">
    <f7-navbar class="bgnav" sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Issues & Complaints
      </f7-nav-title>
    </f7-navbar>
    <!-- Scrollable page content-->
    <f7-block-title>{{ title }}</f7-block-title>
    <f7-block>
      <!-- <textarea placeholder="Write here..." style="border: 2px solid gray; border-radius: 5px;"></textarea> -->
        <div class="item-input-wrap">
          <textarea class="resizable" placeholder="Write here..." style="width:80%"></textarea>
          <span class="input-clear-button"></span>
        </div>
    </f7-block>
    <f7-block>
            <f7-button color="gray" fill round style="width:50%; margin-left: auto; margin-right: auto">Submit</f7-button>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  name: 'Issue',
  data() {
    return {
      title: 'Submit your Issues & Complaints Here'
    };
  }
};
</script>