<template>
  <f7-page name="map">
    <f7-navbar class="bgnav" back-link="Back" sliding>
      <f7-nav-title>
        Map
      </f7-nav-title>
    </f7-navbar>
    <!-- Scrollable page content-->
    <f7-block-title>{{ title }}</f7-block-title>
    <f7-block inner>
      <gmap-map
    v-bind:center="center"
    v-bind:zoom="7"
    style="height: 50%">
    <gmap-marker
      v-bind:key="index"
      v-for="(m, index) in markers"
      v-bind:position="m.position"
      v-bind:clickable="true"></gmap-marker>
  </gmap-map>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  name: 'Map',
  data() {
    return {
      title: 'Map Page',
      center: {lat: 17.0500, lng: 74.2652},
        markers: [{
          position: {lat: 17.0500, lng: 74.2652}
        }, {
          position: {lat: 17.0500, lng: 74.2652}
        }]
    };
  }
};
</script>