<template>
  <f7-page>
    <f7-navbar class="bgnav" sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Pickup Tasks
      </f7-nav-title>
      <!-- <f7-nav-right>
    <f7-link>
    <i class="fa fa-map-o"></i>
    </f7-link>
  </f7-nav-right> -->
    </f7-navbar>
    <f7-block-title>{{ title }}</f7-block-title>
    <f7-block inner>
    <!-- <f7-list>
  <f7-list-item swipeout title="Pending Delivery 1" @swipeout:deleted="onSwipeoutDeleted">
    <f7-swipeout-actions>
      <f7-swipeout-button close color="gray">Accept</f7-swipeout-button>
      <f7-swipeout-button delete>Reject</f7-swipeout-button>
    </f7-swipeout-actions>
  </f7-list-item>
  <f7-list-item swipeout title="Pending Delivery 2" @swipeout:deleted="onSwipeoutDeleted">
    <f7-swipeout-actions>
      <f7-swipeout-button close color="gray">Accept</f7-swipeout-button>
      <f7-swipeout-button delete>Reject</f7-swipeout-button>
    </f7-swipeout-actions>
  </f7-list-item>
</f7-list> -->
<f7-card>
<f7-card-header>
  Silverleaf Mens Collection <f7-link href="/pickuptasks/map/"><img src="/static/img/icons/map.svg"></f7-link>
</f7-card-header>
  <f7-card-content>
   <f7-list accordion>
  <f7-list-item accordion-item title="Ord No : 2018061177" style="color:#9c9c9c">
    <f7-accordion-content>
      <f7-block style="margin-bottom:10px;color:black">
      
        <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%"></f7-col>
  <f7-col width="75" style="padding:5px"><p>Men Blue Formal Shirt</p>
  <p><span>Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  </f7-col>
</f7-row>
        <f7-segmented style="width:80%;margin-left: auto; margin-right: auto;margin-top:5%">
  <f7-button round  outline  color="green">Picked Up</f7-button>
    <f7-button popover-open =".mypop" round  outline color="red">Can't Pick</f7-button>
</f7-segmented>
       </f7-block>
       <f7-block style="margin-bottom:10px;color:black">
      
        <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%"></f7-col>
  <f7-col width="75" style="padding:5px"><p>Men Blue Formal Shirt</p>
  <p><span>Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  </f7-col>
</f7-row>
        <f7-segmented style="width:80%;margin-left: auto; margin-right: auto;margin-top:5%">
  <f7-button round  outline  color="green">Picked Up</f7-button>
  <f7-button round  outline color="red">Can't Pick</f7-button>
</f7-segmented>
       </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="Ord No : 2018061179" style="color:#9c9c9c">
    <f7-accordion-content>
      <f7-block style="margin-bottom:10px;color:black">
      
        <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%"></f7-col>
  <f7-col width="75" style="padding:5px"><p>Men Blue Formal Shirt</p>
  <p><span>Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  </f7-col>
</f7-row>
        <f7-segmented style="width:80%;margin-left: auto; margin-right: auto;margin-top:5%">
  <f7-button round  outline  color="green">Picked Up</f7-button>
  <f7-button round  outline color="red">Can't Pick</f7-button>
</f7-segmented>
       </f7-block>
    </f7-accordion-content>
  </f7-list-item>
</f7-list>
  </f7-card-content>
</f7-card>

<f7-card>
<f7-card-header>
  Denon Mens Collection <f7-link href="/pickuptasks/map/"><img src="/static/img/icons/map.svg"></f7-link>
</f7-card-header>
  <f7-card-content>
   <f7-list accordion>
  <f7-list-item accordion-item title="Ord No : 2018061177" style="color:#9c9c9c">
    <f7-accordion-content>
      <f7-block style="margin-bottom:10px;color:black">
      
        <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%"></f7-col>
  <f7-col width="75" style="padding:5px"><p>Men Blue Formal Shirt</p>
  <p><span>Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  </f7-col>
</f7-row>
        <f7-segmented style="width:80%;margin-left: auto; margin-right: auto;margin-top:5%">
  <f7-button round  outline  color="green">Picked Up</f7-button>
  <f7-button round  outline color="red">Can't Pick</f7-button>
</f7-segmented>
       </f7-block>
       <f7-block style="margin-bottom:10px;color:black">
      
        <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%"></f7-col>
  <f7-col width="75" style="padding:5px"><p>Men Blue Formal Shirt</p>
  <p><span>Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  </f7-col>
</f7-row>
        <f7-segmented style="width:80%;margin-left: auto; margin-right: auto;margin-top:5%">
  <f7-button round  outline  color="green">Picked Up</f7-button>
  <f7-button round  outline color="red">Can't Pick</f7-button>
</f7-segmented>
       </f7-block>
    </f7-accordion-content>
  </f7-list-item>
  <f7-list-item accordion-item title="Ord No : 2018061179" style="color:#9c9c9c">
    <f7-accordion-content>
      <f7-block style="margin-bottom:10px;color:black">
      
        <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%"></f7-col>
  <f7-col width="75" style="padding:5px"><p>Men Blue Formal Shirt</p>
  <p><span>Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  </f7-col>
</f7-row>
        <f7-segmented style="width:80%;margin-left: auto; margin-right: auto;margin-top:5%">
  <f7-button round  outline  color="green">Picked Up</f7-button>
  <f7-button round  outline color="red">Can't Pick</f7-button>
</f7-segmented>
       </f7-block>
    </f7-accordion-content>
  </f7-list-item>
</f7-list>
  </f7-card-content>
</f7-card>

    </f7-block>
<f7-popover class="mypop">
   <f7-list style="margin-bottom:10px;height:100%">
  <f7-list-item radio value="self" title="Out of Stock" name="demo-radio-2" checked></f7-list-item>
  <f7-list-item radio value="spouse" title="Shop Closed" name="demo-radio-2"></f7-list-item>
  <f7-list-item radio value="doorman" title="Not Packed" name="demo-radio-2"></f7-list-item>
  <f7-list-item><f7-button popover-close fill color="gray" style="width:100%">Submit</f7-button></f7-list-item>
</f7-list>
</f7-popover>
  </f7-page>
</template>
<script>
export default {
  name: "Pickup Tasks",
  data() {
    return {
      title: "Pending Tasks"
    };
  }
};
</script>
