<template>
  <f7-page name="profile">
    <f7-navbar class="bgnav" sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Profile
      </f7-nav-title>
      <f7-nav-right>
        <f7-link popup-open =".mypopup"><img popup-open =".mypopup" src="/static/img/icons/pen.svg" alt=""></f7-link>
      </f7-nav-right>
    </f7-navbar>
    <!-- Scrollable page content-->
    <!-- <f7-block-title>{{ title }}</f7-block-title> -->
    <f7-block>
      <f7-block style="border-radius:50%;margin-left: auto; margin-right: auto; height:150px;width:150px; background-color:#D3D3D3">
      <!-- <f7-button outline color="black" style="border-radius:50%;height:30px;position:absolute;right:0px;bottom:0px"></f7-button> -->
    </f7-block>
    </f7-block>
    <f7-block>
      <f7-list>
  <f7-list-item title="Your Name Here" header="Name"></f7-list-item>
  <f7-list-item title="Your Address Here" header="Address"></f7-list-item>
  <f7-list-item title="Your Contact No Here" header="Contact No"></f7-list-item>
  <f7-list-item title="Your Email Id Here" header="Email ID"></f7-list-item>
</f7-list>
<f7-popup class="mypopup">

<f7-navbar class="bgnav" sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-close" popup-close></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Edit Profile
      </f7-nav-title>
      <f7-nav-right>
        <f7-link icon-f7="icon-check"></f7-link>
      </f7-nav-right>
    </f7-navbar>
    <f7-block>
      <f7-block style="border-radius:50%;margin-left: auto; margin-right: auto; height:150px;width:150px; background-color:#D3D3D3">
      <!-- <f7-button style="border-radius:50%;width:25px;height:50px;position:absolute;right:0px;bottom:0px;background-color:black"></f7-button> -->
      <f7-link color="gray" icon-f7="icon-camera_fill" style="position:absolute;right:0px;bottom:0px"></f7-link>
    </f7-block>
    </f7-block>
    <f7-block>
<f7-list>
  <f7-list-item>
    <f7-label>Name</f7-label>
    <f7-input type="text" placeholder="Edit name here" clear-button></f7-input>
    </f7-list-item>
  <f7-list-item>
    <f7-label>Address</f7-label>
    <f7-input type="text" placeholder="Edit Address here" clear-button></f7-input>
    </f7-list-item>
     <f7-list-item>
       <f7-label>Contact No</f7-label>
    <f7-input type="text" placeholder="Edit Contact No here" clear-button></f7-input>
    </f7-list-item>
  <f7-list-item>
    <f7-label>Email ID</f7-label>
    <f7-input type="text" placeholder="Edit Email ID here" clear-button></f7-input>
    </f7-list-item>
</f7-list>
</f7-block>
</f7-popup>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  name: 'Profile',
  data() {
    return {
      title: 'Profile Page'
    };
  }
};
</script>
<style>
f7-list-item {
-webkit-text-fill-color: grey;
}
</style>

