<template>

    <f7-page login-screen>
      <f7-block>
      <f7-login-screen-title><img style="width:100px" src="/static/img/icons/fashiostreet-icon.png"></f7-login-screen-title>
      <f7-list form>
        <f7-list-item>
          <f7-label>Phone No</f7-label>
          <f7-input type="text" placeholder="Your Phone No" clear-button></f7-input>
        </f7-list-item>
        <f7-list-item>
          <f7-label>Password</f7-label>
          <f7-input type="password" placeholder="Your password" clear-button></f7-input>
        </f7-list-item>
      </f7-list>
      <f7-list>
        <f7-list-item> <f7-button style="width:100%;background-color:#7fff00" fill login-screen-close>Sign In</f7-button></f7-list-item>
        <f7-block-footer><br> Want To be PDP? <p>Contact Us : 8600198512 / 7558417359</p> </f7-block-footer>
        <!-- <f7-block-footer>Not a PDP? <span style="color:#7fff00"><f7-link popup-open =".mypopup">Sign Up</f7-link> </span> </f7-block-footer> -->
      </f7-list>
      </f7-block>
     <!-- <f7-popup class="mypopup">
       <f7-page login-screen>
       <f7-block>
      <f7-login-screen-title><img style="width:100px" src="/static/img/icons/fashiostreet-icon.png"></f7-login-screen-title>
      <f7-list form>
        <f7-list-item>
          <f7-label>Username</f7-label>
          <f7-input type="text" placeholder="Your username"></f7-input>
        </f7-list-item>
        <f7-list-item>
          <f7-label>Password</f7-label>
          <f7-input type="password" placeholder="Your password"></f7-input>
        </f7-list-item>
      </f7-list>
      <f7-list>
<f7-list-item> <f7-button style="width:100%;background-color:#7fff00" fill login-screen-close>Sign Up</f7-button></f7-list-item>
        <f7-block-footer>Already a PDP? <span style="color:#7fff00"><f7-link popup-close>Sign In</f7-link></span> </f7-block-footer>
      </f7-list>
     </f7-block>
     </f7-page>
     </f7-popup> -->
    </f7-page>
    
</template>

<script>
export default {
  name: 'Signin',
  data() {
    return {
      title: 'Feedback Page'
    };
  }
};
</script>
