<template>
  <f7-page>
    <f7-navbar class="bgnav" sliding>
      <f7-nav-left>
        <f7-link icon-f7="icon-bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>
        Task History
      </f7-nav-title>
      <f7-nav-right>
      </f7-nav-right>
    </f7-navbar>
    <!-- <f7-block-title>{{title}}</f7-block-title> -->
 <f7-block>
   <f7-label>Date</f7-label>
             <datepicker v-model="date" style="z-index:999" placeholder="select date">Date</datepicker>
      <f7-list>
        <f7-list-item link="#" popover-open=".mypop1" title="Ord No : 2018061177" header="Time here">
          <f7-icon f7="icon-check"></f7-icon>
        </f7-list-item>
        <f7-list-item link="#" popover-open=".mypop2" title="Ord No : 2018061177" header="Time here" style="background-color:#E0E0E0">
          <f7-icon f7="icon-check"></f7-icon>
        </f7-list-item>
        <f7-list-item link="#" popover-open=".mypop1" title="Ord No : 2018061178" header="Time here">
          <f7-icon f7="icon-close"></f7-icon>
        </f7-list-item>
        <f7-list-item link="#" popover-open=".mypop2" title="Ord No : 2018061178" header="Time here" style="background-color:#E0E0E0">
          <f7-icon f7="icon-close"></f7-icon>
        </f7-list-item>
      </f7-list>
     
        
      </f7-block>
      <f7-popover class="mypop1">
      <f7-card>
<f7-card-header>
  Silverleaf Mens Collection
</f7-card-header>
  <f7-card-content>
  
    
      <f7-block style="color:black">
      
        <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%"></f7-col>
  <f7-col width="75" style="padding:5px"><p>Men Blue Formal Shirt</p>
  <p><span>Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  </f7-col>
</f7-row>
       </f7-block>
      
  </f7-card-content>
  <f7-card-footer>Ord No : 2018061177 <p>Picked</p></f7-card-footer>
</f7-card>
    </f7-popover>
    <f7-popover class="mypop2">
       <f7-card>
<f7-card-header>
  Dnyanesh Maruti Pawar
</f7-card-header>
  <f7-card-content>
      <f7-block style="color:black">
        <f7-row no-gap>
  <f7-col width="25"><img src="/static/img/test.jpg" style="width:100%"></f7-col>
  <f7-col width="75" style="padding:5px"><p>Men Blue Formal Shirt</p>
  <p><span>Rs.500 </span><span style="color:gray;text-decoration:line-through">Rs.350</span></p>
  </f7-col>
</f7-row>
Address : C-114, RIT Boys Hostel, Rajaramnagar, Islampur
       </f7-block>
      
  </f7-card-content>
  <f7-card-footer>Ord No : 2018061177 <p>Delivered</p></f7-card-footer>
</f7-card>
    </f7-popover>
  </f7-page>
</template>
<script>
import Datepicker from 'vuejs-datepicker';
export default {
  name: 'Taskhistory',
  data() {
    return {
      title: 'Today'
    };
  },
  components:{
    Datepicker
  }
};
</script>
