<template>
  <f7-panel left :reveal="isiOS" :effect="panelEffect">
    <f7-navbar class="bg">
      <img src="/static/img/avatar.png" style="height:100px; margin-left:10px">
      <h5 style="margin-left:10px">Rohit Chikhalge</h5>
    </f7-navbar>
    <!-- force page background color to white if on iOS -->
    <f7-page :style="pageStyle">
      <!-- <f7-block-title>Links</f7-block-title> -->
      <f7-list style="margin-top:100px">
        <f7-list-item
        style="color:gray"
          link="/"
          title="Pickup Tasks"
          link-view="#main-view"
          media="/static/img/icons/pickup.svg"
          panel-close
          reload-all
        />
        <f7-list-item
        style="color:gray"
          link="/deliverytasks/"
          title="Delivery Tasks"
          media="/static/img/icons/delivery.svg" 
          link-view="#main-view"
          panel-close
          reload-all 
        />
        <f7-list-item
        style="color:gray"
          link="/profile/"
          title="Profile"
          media="/static/img/icons/profile.svg"
          link-view="#main-view"
          panel-close
          reload-all 
        />
        
        <f7-list-item
        style="color:gray"
          link="/taskhistory/"
          title="Task History"
          media="/static/img/icons/history.svg"
          link-view="#main-view"
          panel-close
          reload-all
        />
        <f7-list-item
        style="color:gray"
          link="/notice/"
          title="Notice Board"
          media="/static/img/icons/notice.svg"
          link-view="#main-view"
          panel-close
          reload-all
        />
        <f7-list-item
        style="color:gray"
          link="/issue/"
          title="Issues and Complaints"
          media="/static/img/icons/issue.svg"
          link-view="#main-view"
          panel-close
          reload-all
        />
        <!-- <f7-list-item
          link="/payment/"
          title="Payment"
          link-view="#main-view"
          media="/static/img/icons/payment.svg"
          panel-close
          reload-all
        /> -->
        <f7-list-item
        style="color:gray"
          link="/signin/"
          title="Logout"
          media="/static/img/icons/logout.svg"
          link-view="#main-view"
          panel-close
          reload-all
        />
        <f7-list-item
        style="color:gray"
          link="/feedback/"
          title="Feedback"
          link-view="#main-view"
          media="/static/img/icons/feedback.svg"
          panel-close
          reload-all
        />
      </f7-list>
    </f7-page>
  </f7-panel>
</template>

<script>
export default {
  name: 'LeftPanel',
  data() {
    return {
      isMaterial: window.isMaterial,
      isiOS: window.isiOS
    };
  },
  computed: {
    pageStyle() {
      return this.isiOS ? 'background-color: white;' : '';
    },
    panelEffect() {
      return this.isiOS ? 'reveal' : 'cover';
    }
  }
};
</script>

<style scoped>
/* .panel-left .page {
  margin-top: 44px;
  padding-bottom: 44px;
} */
.bg.navbar {
  background-color:chartreuse;
  -webkit-text-fill-color: black;
  height: 150px;
}
/* f7-navbar{
  background-color: chartreuse
} */
@media (min-width: 960px) {
  .panel.panel-left {
    border-right: 1px solid #b2b2b2;
  }
}
</style>
